recursive-include doc/build *
include LICENSE
include README*
include AUTHORS
include CHANGES
recursive-include ivolution/data/haarcascades *
recursive-include ivolution/data/samples *
recursive-include ivolution/data/media *