Source: ivolution
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10),
 libglib2.0-bin 
Maintainer: Julien Lengrand-Lambert <julien@lengrand.fr>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: ivolution
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 yelp,
 gir1.2-gtk-3.0,
 gir1.2-glib-2.0,
 gir1.2-dbusmenu-glib-0.4,
 gir1.2-unity-5.0,
 gir1.2-gdkpixbuf-2.0,
 gir1.2-launchpad-integration-3.0,
 yelp,
 libopencv-calib3d2.3, 
 libopencv-contrib2.3,
 libopencv-core2.3,
 libopencv-dev,
 libopencv-features2d2.3,
 libopencv-flann2.3,
 libopencv-gpu2.3,
 libopencv-highgui2.3,
 libopencv-imgproc2.3,
 libopencv-legacy2.3,
 libopencv-ml2.3,
 libopencv-objdetect2.3,
 libopencv-video2.3,
 python-opencv,
 gstreamer0.10-ffmpeg

Description: Ivolution is a GTK interface built on top of the Facemovie project. It was designed for helping Ubuntu users to use FaceMovie.
 FaceMovie is a project aiming at helping you create videos of yourself over time.
 Simply take pictures of yourself, Facemovie does everything else for you.
 FaceMovie may be used for faces, but also profiles or full body. The only limitation comes from you !
